@namespace bf "http://id.loc.gov/ontologies/bibframe/";
@namespace dc "http://purl.org/dc/elements/1.1/";
@namespace exml "https://sub.uni-goettingen.de/met/standards/entity-xml#";
@namespace gndo "https://d-nb.info/standards/elementset/gnd#";
@namespace mml "http://www.w3.org/1998/Math/MathML";
@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace svg "http://www.w3.org/2000/svg";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace xml "http://www.w3.org/XML/1998/namespace";

label {
    display: block;
}

label:before(100){
    content: attr(name);
    font-weight: 600;
    font-size: large;
}

label[type]:before(99){
    content: " (" attr(type) ")";
    font-weight: 100;
    font-size: normal;
}

term {
    display: block;
    margin-left: 1em;
    border-left: 3px solid brown;
}

term {
    margin-bottom: 0.5em;
    padding: .5em;
}

term[type]:after(3) {
    display: block;
    content: attr(type);
    font-size: smaller;
}

term[gndo|ref]:after(2) {
    content: "  " attr(gndo|ref);
    link: oxy_xpath("./@gndo:ref");
}